In [2]:
import wget
import pandas as pd
import numpy as np

# 1. Zaměstnanci

```python

import wget

wget.download("https://raw.githubusercontent.com/pesikj/python-012021/master/zadani/6/zam_praha.csv")
wget.download("https://raw.githubusercontent.com/pesikj/python-012021/master/zadani/6/zam_plzeň.csv")
wget.download("https://raw.githubusercontent.com/pesikj/python-012021/master/zadani/6/zam_liberec.csv")
wget.download("https://raw.githubusercontent.com/pesikj/python-012021/master/zadani/6/platy_2021_02.csv")

```

Uvažuj, že zpracováváš analýzu pro softwarovou firmu. Firma má kanceláře v Praze, Plzni a Liberci. Seznam zaměstnanců pro jednotlivé kanceláře najdeš v souborech [zam_praha.csv](zam_praha.csv), [zam_plzeň.csv](zam_plzeň.csv) a [zam_liberec.csv](zam_liberec.csv).

* Načti data o zaměstnancích z CSV souborů do tabulek (`DataFrame`). Ke každé tabulce přidej nový sloupec `mesto`, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje. 
* Vytvoř novou tabulku `zamestnanci` a ulož do ní informace o všech zaměstnancích.
* Ze souboru [platy_2021_02.csv](platy_2021_02.csv) načti platy zaměstnanců za únor 2021. Propoj tabulku (operace join) s platy a tabulku se zaměstnanci pomocí sloupce `cislo_zamestnance`.
* Porovnej rozměry tabulek před spojením a po spojení. Pokud nemá některý zaměstnanec plat za únor, znamená to, že v naší firmě již nepracuje.
* Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.


## Dobrovolný doplněk

* Ulož do proměnné počet zaměstnaců, kteří v naší firmě již nepracují.
* V rámci úspory se IT oddělení rozhodlo prověřit licence přidělené zaměstnancům, kteří ve firmě již nepracují. Vytvoř samostatnou tabulku, která obsahuje jména zaměstnanců, kteří ve firmě již nepracují. Tabulku ulož do souboru CSV.

In [18]:
praha = pd.read_csv('zam_praha.csv')
praha['mesto'] = 'Praha'
plzen = pd.read_csv('zam_plzeň.csv')
plzen['mesto'] = 'Plzeň'
liberec = pd.read_csv('zam_liberec.csv')
liberec['mesto'] = 'Liberec'

zamestnanci = pd.concat([praha,plzen,liberec], ignore_index=True)
zamestnanci.shape

(56, 5)

In [19]:
platy = pd.read_csv('platy_2021_02.csv')

zamestnanci = pd.merge(zamestnanci,platy ,on=['cislo_zamestnance'], how='left')
zamestnanci.to_csv('platy_mesta.csv',index=False)
zamestnanci

,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,mesto,plat
0,Brian,Hall,+421 949 656 098,30,Praha,33500.0
1,Marta,Kolářová,730 456 163,32,Praha,53000.0
2,John,Moravec,725 092 179,33,Praha,38400.0
3,Dominika,Kopecká,722 747 626,34,Praha,36800.0
4,Marcel,Hájek,+421 902 928 669,35,Praha,NaN
5,Milada,Hernandez,773 373 704,38,Praha,32600.0
6,Catherine,Bender,604 068 460,40,Praha,32800.0
7,Olga,Němcová,+421 914 172 243,41,Praha,49300.0
8,Jeffrey,Šťastný,607 628 821,44,Praha,52000.0
9,Kamila,Říhová,+421 948 396 069,47,Praha,40700.0
10,Jaromír,Miller,+421 912 615 902,49,Praha,58400.0
11,Christopher,Zeman,+421 948 150 084,51,Praha,37100.0
12,Karolína,Short,721 589 083,53,Praha,NaN
13,Michelle,Vlčková,+421 41 720 7806,54,Praha,NaN
14,Jeffrey,Pospíšil,+421 55 491 6940,56,Praha,39300.0
15,Ladislav,Blažek,+421 910 274 975,57,Praha,36800.0
16,John,Bailey,775 021 116,58,Praha,NaN
17,William,Shelton,+421 47 745 8219,60,Praha,NaN
18,Miroslava,Veselá,774 029 254,62,Praha,NaN
19,William,Alexander,+421 949 106 724,63,Praha,31400.0
20,Kimberly,Bass,+421 912 169 840,64,Praha,36900.0
21,Nathan,Svoboda,728 710 923,66,Praha,NaN
22,Luděk,Bartoš,+421 940 700 326,69,Praha,32600.0
23,Dillon,Black,734 300 978,70,Praha,52600.0
24,Robert,Říha,727 351 984,72,Praha,NaN
25,Steve,Šimek,604 966 101,74,Praha,49300.0
26,Theresa,Kučerová,+421 48 528 0081,76,Praha,55400.0
27,Marta,Butler,+421 944 196 827,78,Praha,52600.0
28,Samantha,Kadlecová,+421 904 841 543,80,Praha,57700.0
29,Stacy,Pospíšilová,727 293 880,3,Plzeň,54900.0
30,Matěj,Král,770 787 377,6,Plzeň,54800.0
31,Amanda,Wilson,+421 52 656 7231,7,Plzeň,36400.0
32,Angel,Wilson,+421 52 135 2491,8,Plzeň,47900.0
33,Jindřich,Howell,+421 39 043 0948,10,Plzeň,NaN
34,Alexander,Martinez,721 195 689,13,Plzeň,NaN
35,Radim,Kopecký,+421 917 371 226,16,Plzeň,34200.0
36,Miroslav,Reed,774 829 074,18,Plzeň,35400.0
37,Emilie,Powell,731 380 539,21,Plzeň,54200.0
38,Nikola,Wade,726 763 154,22,Plzeň,34400.0
39,Katherine,Reed,726 214 968,23,Plzeň,39000.0
40,Kayla,Urbanová,737 772 985,24,Plzeň,44200.0
41,Roman,Moreno,722 284 985,26,Plzeň,59600.0
42,Bohumila,Smith,608 121 912,27,Plzeň,45100.0
43,Blažena,Smith,+421 51 828 2591,28,Plzeň,38100.0
44,Phillip,Malý,731 594 560,29,Plzeň,48900.0
45,Nela,Šťastná,728 454 176,83,Liberec,46500.0
46,Heather,Marková,604 404 522,84,Liberec,38600.0
47,Krista,Procházková,+421 50 444 5544,85,Liberec,44200.0
48,Jennifer,Brown,775 545 190,86,Liberec,NaN
49,Ladislava,Blackwell,+421 913 487 200,87,Liberec,49900.0
50,Robert,Macias,+421 49 929 6856,88,Liberec,NaN
51,Dana,Reyes,+421 904 153 942,90,Liberec,41100.0
52,Vasyl,Veselý,603 759 413,92,Liberec,48100.0
53,Randy,Veselý,777 149 125,95,Liberec,31600.0
54,Audrey,Allen,+421 908 839 506,96,Liberec,50200.0
55,Ivan,Bartoš,603 226 051,99,Liberec,NaN

In [20]:
zamestnanci.groupby('mesto').plat.mean()

mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

In [24]:
uz_nepracuji = zamestnanci[zamestnanci.plat.isnull()]
uz_nepracuji_count = uz_nepracuji.shape[0]

uz_nepracuji[['jmeno','prijimeni']]

        jmeno prijimeni
4      Marcel     Hájek
12   Karolína     Short
13   Michelle   Vlčková
16       John    Bailey
17    William   Shelton
18  Miroslava    Veselá
21     Nathan   Svoboda
24     Robert      Říha
33   Jindřich    Howell
34  Alexander  Martinez
48   Jennifer     Brown
50     Robert    Macias
55       Ivan    Bartoš

# 2. Projekty

```python

import wget

wget.download("https://raw.githubusercontent.com/pesikj/python-012021/master/zadani/6/vykazy.csv")

```

Pokračuj ve své práci pro softwarovou firmu. Ze souboru [vykazy.csv](vykazy.csv) načti informace o výkazech na projekty pro jednoho vybraného zákazníka.

* Načti data ze souboru a ulož je do tabulky.
* Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.

## Dobrovolný doplněk

Propoj tabulku s výkazy s tabulkou se zaměstnanci, kterou jsi vytvořil(a) v předchozím cvičení. Následně proveď statistiku vykázaných hodin za jednotlivé kanceláře, tj. spočítej celkový počet hodin vykázaný zaměstnanci jednotlivých kanceláří na projekty daného zákazníka.

In [23]:
vykazy = pd.read_csv('vykazy.csv')

vykazy.groupby('project').hours.sum()

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64

In [24]:
zamestnanci_2 = pd.merge(zamestnanci, vykazy, how='left',left_on='cislo_zamestnance',right_on='emloyee_id')
zamestnanci_2 = zamestnanci_2.drop(columns=['emloyee_id'])

In [25]:
zamestnanci_2.groupby(['mesto','project']).hours.sum()

mesto    project
Liberec  TE1        10.8
         W05         5.4
         YLI        11.8
Plzeň    F30        10.3
         YLI         5.3
Praha    F30        11.2
         JL9         2.1
         TE1         5.2
         W05        25.1
         YLI        13.9
Name: hours, dtype: float64

In [26]:
zamestnanci_2.groupby(['project','mesto']).hours.sum()

project  mesto
F30      Plzeň      10.3
         Praha      11.2
JL9      Praha       2.1
TE1      Liberec    10.8
         Praha       5.2
W05      Liberec     5.4
         Praha      25.1
YLI      Liberec    11.8
         Plzeň       5.3
         Praha      13.9
Name: hours, dtype: float64

# 3. Státy světa potřetí

```python

import wget

wget.download("https://raw.githubusercontent.com/pesikj/python-012021/master/zadani/6/staty.json")
wget.download("https://raw.githubusercontent.com/pesikj/python-012021/master/zadani/6/gdp.csv")

```

V souboru [staty.json](staty.json) jsou uložena data s informacemi o státech světa, se kterými jsme již pracovali. Zkusme nyní zpracovat podobné úlohy pomocí `pandas`.

* Načti data ze souboru do tabulky.
* Vyfiltruj státy, které leží v Evropě.
* Zjisti počet států v jednotlivých subregionech Evropy.
* Zjisti cekový počet obyvatel v jednotlivých subregionech Evropy.

## Rozšíření zadání

V souboru [staty.json](staty.json) jsou uložena data s informacemi o státech světa, se kterými jsme již pracovali. V souboru [gdp.csv](gdp.csv) jsou dále informace o hrubém domácím produktu (Gross Domestic Product - GDP) států za roky 2017-2019 ze Světové banky.

* Načti informace ze souborů do tabulek. Z tabulky s GDP odeber státy, které nemají kompletní informace GDP (tj. ponech pouze státy, které mají kompletní data za všechny tři roky).
* Propoj obě tabulky podle třípísmenného kódu států.
* Spočti celkové HDP za rok 2019 a celkový počet obyvatel za jednotlivé subregiony.
* Projdi si subkapitolu o [počítaných sloupcích](https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/#pocitane-sloupce) (část o podmínených sloupcích není nutné číst). K tabulce, kterou jsi vytovřila v předchozím kroku, vypočti GDP v roce 2019 na obyvatele, tj. přidej sloupec s velikostí GDP v roce 2019 vydělenou počtem obyvatel daného subregionu.

In [7]:
staty = pd.read_json('staty.json')
staty.head()

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area
0,Afghanistan,AF,AFG,Kabul,Asia,Southern Asia,27657145,652230.0
1,Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.0
2,Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.0
3,Algeria,DZ,DZA,Algiers,Africa,Northern Africa,40400000,2381741.0
4,American Samoa,AS,ASM,Pago Pago,Oceania,Polynesia,57100,199.0

In [8]:
evropa = staty[staty.region =='Europe']
evropa.head()

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area
1,Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.0
2,Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.0
5,Andorra,AD,AND,Andorra la Vella,Europe,Southern Europe,78014,468.0
14,Austria,AT,AUT,Vienna,Europe,Western Europe,8725931,83871.0
20,Belarus,BY,BLR,Minsk,Europe,Eastern Europe,9498700,207600.0

In [9]:
evropa.groupby('subregion').name.count()

subregion
Eastern Europe     11
Northern Europe    16
Southern Europe    17
Western Europe      9
Name: name, dtype: int64

In [10]:
evropa.groupby('subregion').population.sum()

subregion
Eastern Europe     295337425
Northern Europe    104628222
Southern Europe    152182570
Western Europe     194539965
Name: population, dtype: int64

In [11]:
gdp = pd.read_csv('gdp.csv')
gdp = gdp.dropna(subset=['2017','2018','2019'])
gdp.head()

  Country Name Country Code          2017          2018          2019
1  Afghanistan          AFG  1.886995e+10  1.835388e+10  1.929110e+10
2       Angola          AGO  1.221240e+11  1.013530e+11  8.881570e+10
3      Albania          ALB  1.301969e+10  1.514702e+10  1.527918e+10
4      Andorra          AND  3.000181e+09  3.218316e+09  3.154058e+09
5   Arab World          ARB  2.516120e+12  2.771380e+12  2.817410e+12

In [12]:
staty = pd.merge(staty,gdp,how='left',left_on='alpha3Code', right_on='Country Code')
staty = staty.drop(columns=['Country Name','Country Code'])
staty.head()

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,2017,2018,2019
0,Afghanistan,AF,AFG,Kabul,Asia,Southern Asia,27657145,652230.0,1.886995e+10,1.835388e+10,1.929110e+10
1,Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.0,NaN,NaN,NaN
2,Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.0,1.301969e+10,1.514702e+10,1.527918e+10
3,Algeria,DZ,DZA,Algiers,Africa,Northern Africa,40400000,2381741.0,1.701630e+11,1.754060e+11,1.710910e+11
4,American Samoa,AS,ASM,Pago Pago,Oceania,Polynesia,57100,199.0,NaN,NaN,NaN

In [13]:
staty[staty.isnull().any(axis=1)]

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,2017,2018,2019
1,Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.0,NaN,NaN,NaN
4,American Samoa,AS,ASM,Pago Pago,Oceania,Polynesia,57100,199.0,NaN,NaN,NaN
7,Anguilla,AI,AIA,The Valley,Americas,Caribbean,13452,91.0,NaN,NaN,NaN
8,Antarctica,AQ,ATA,,Polar,,1000,14000000.0,NaN,NaN,NaN
12,Aruba,AW,ABW,Oranjestad,Americas,Caribbean,107394,180.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
227,Tokelau,TK,TKL,Fakaofo,Oceania,Polynesia,1411,12.0,NaN,NaN,NaN
232,Turkmenistan,TM,TKM,Ashgabat,Asia,Central Asia,4751120,488100.0,NaN,NaN,NaN
243,Venezuela (Bolivarian Republic of),VE,VEN,Caracas,Americas,South America,31028700,916445.0,NaN,NaN,NaN
245,Wallis and Futuna,WF,WLF,Mata-Utu,Oceania,Polynesia,11750,142.0,NaN,NaN,NaN
246,Western Sahara,EH,ESH,El Aaiún,Africa,Northern Africa,510713,266000.0,NaN,NaN,NaN

In [14]:
staty['2019'].sum()

85821372359732.12

In [15]:
staty.groupby('subregion').sum()

,population,area,2017,2018,2019
subregion,,,,,
,1000,14000461.00,0.000000e+00,0.000000e+00,0.000000e+00
Australia and New Zealand,28820138,7962676.00,1.534606e+12,1.640801e+12,1.603499e+12
Caribbean,42599318,231400.36,2.634483e+11,2.715859e+11,2.795326e+11
Central America,168884867,2486653.00,1.414961e+12,1.486227e+12,1.540701e+12
Central Asia,68722120,4003451.00,2.408267e+11,2.455267e+11,2.561585e+11
Eastern Africa,366567743,6358831.00,3.564588e+11,3.818378e+11,4.051903e+11
Eastern Asia,1615034420,11840126.00,1.920458e+13,2.100435e+13,2.150498e+13
Eastern Europe,295337425,18863375.00,3.005047e+12,3.282099e+12,3.362434e+12
Melanesia,10138967,540772.00,3.045982e+10,3.219957e+10,3.284951e+10
Micronesia,540254,3187.00,5.829690e+08,6.011950e+08,5.812256e+08
Middle Africa,173182968,7232412.00,2.459300e+11,2.444101e+11,2.323463e+11
Northern Africa,222676342,7905959.00,6.382868e+11,6.687217e+11,7.152843e+11
Northern America,360226657,21780143.00,2.117642e+13,2.230368e+13,2.317711e+13
Northern Europe,104628222,1750613.00,4.658316e+12,5.010300e+12,4.915818e+12
Polynesia,670478,8678.00,1.333152e+09,1.353320e+09,1.411872e+09
South America,418606839,17749848.00,3.754703e+12,3.513063e+12,3.369381e+12
South-Eastern Asia,632070274,4537819.00,2.806855e+12,3.006563e+12,3.175036e+12
Southern Africa,63146239,2684118.00,3.865096e+11,4.076478e+11,3.889869e+11
Southern Asia,1807886040,6868982.00,3.345711e+12,3.445477e+12,3.591837e+12
Southern Europe,152182570,1326220.44,3.933661e+12,4.237115e+12,4.108735e+12
Western Africa,360132455,6142171.00,5.942456e+11,6.399889e+11,6.955211e+11
Western Asia,262541930,4814593.00,3.059706e+12,3.221907e+12,3.227926e+12
Western Europe,194539965,1198074.02,8.775688e+12,9.440563e+12,9.236050e+12

In [16]:
staty["gdp2019dividetByPopulation"] = staty['2019'] /staty["population"]
staty

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,2017,2018,2019,gdp2019dividetByPopulation
0,Afghanistan,AF,AFG,Kabul,Asia,Southern Asia,27657145,652230.0,1.886995e+10,1.835388e+10,1.929110e+10,697.508872
1,Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.0,NaN,NaN,NaN,NaN
2,Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.0,1.301969e+10,1.514702e+10,1.527918e+10,5294.194609
3,Algeria,DZ,DZA,Algiers,Africa,Northern Africa,40400000,2381741.0,1.701630e+11,1.754060e+11,1.710910e+11,4234.925743
4,American Samoa,AS,ASM,Pago Pago,Oceania,Polynesia,57100,199.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
245,Wallis and Futuna,WF,WLF,Mata-Utu,Oceania,Polynesia,11750,142.0,NaN,NaN,NaN,NaN
246,Western Sahara,EH,ESH,El Aaiún,Africa,Northern Africa,510713,266000.0,NaN,NaN,NaN,NaN
247,Yemen,YE,YEM,Sana'a,Asia,Western Asia,27478000,527968.0,2.673614e+10,2.348627e+10,2.258108e+10,821.787684
248,Zambia,ZM,ZMB,Lusaka,Africa,Eastern Africa,15933883,752612.0,2.586817e+10,2.631214e+10,2.330977e+10,1462.906055
249,Zimbabwe,ZW,ZWE,Harare,Africa,Eastern Africa,14240168,390757.0,2.204090e+10,2.431156e+10,2.144076e+10,1505.653501

# 4. Teplota ve městech potřetí

Vrať se k práci se souborem [temperature.csv](temperature.csv), který obsahuje informace o průměrné teplotě v různých městech v **listopadu 2017**.

```python
import wget
wget.download("https://raw.githubusercontent.com/pesikj/python-012021/master/zadani/5/temperature.csv")
```

*Pokud jsi v minulé lekci zpracovala rozšířené zadání, můžeš pracovat s teplotami ve stupních Celsia.*

* Vyfiltruj si informace o teplotách 13. listopadu 2017.
* Vyřaď všechny záznamy, které mají teplotu -99, protože tato hodnota je pravděpodobně chybná.
* Vypočti počet dat, které máš pro daný den za jednotlivé regiony.
* Vypočti průměrnou teplotu za jednotlivé regiony.
* Vypočti maximální a minimální teplotu v každém regionu.

In [42]:
# Moc mi nevyhovuje kdyz na sebe ukoly navazuji, zabere mi moc casu vzpomenout si co jsem vlastne delala minule
teploty = pd.read_csv('temperature.csv', index_col=0)
teploty_13 = teploty[(teploty.Day==13)]

teploty = teploty[teploty.AvgTemperature != -99.0]
teploty

                   Region  Country      City  Day  AvgTemperature
Unnamed: 0
0                  Africa  Algeria   Algiers    1            62.0
1                  Africa  Algeria   Algiers    2            62.2
2                  Africa  Algeria   Algiers    3            65.7
3                  Africa  Algeria   Algiers    4            69.8
4                  Africa  Algeria   Algiers    5            63.8
...                   ...      ...       ...  ...             ...
8785        North America       US  Cheyenne   26            51.7
8786        North America       US  Cheyenne   27            55.5
8787        North America       US  Cheyenne   28            38.5
8788        North America       US  Cheyenne   29            36.8
8789        North America       US  Cheyenne   30            36.9

[8741 rows x 5 columns]

In [ ]:
teploty.groupby('Region').Country.count()

In [ ]:
teploty.groupby('Region').AvgTemperature.mean()

In [45]:
teploty.groupby('Region').agg([min,max]).AvgTemperature

                                    min   max
Region
Africa                             51.5  87.4
Asia                              -16.0  86.8
Australia/South Pacific            49.1  83.7
Europe                             18.6  69.5
Middle East                        32.5  85.9
North America                     -20.7  83.1
South/Central America & Carribean  46.7  88.0

# 5. Export do Excelu

`pandas` umí uložit data i do Excel sešitu, se kterým se bude uživatelům lépe pracovat. K ukádání do Excelu využívá `pandas` modul `openpyxl`, který ale není nainstalován automaticky.

* Nainstaluj si modul `openpyxl` standardním způsobem, který jsme si ukazovali v lekci.
* Ulož tabulku s cekovými počty vykázaných hodin, kterou jsi vytvořila [v příkladu 27](priklad27.md) jako Excel soubor. Pokud jsi tento příklad nezpracovala, ulož libovolnou jinou tabulku jako Excel sešit. Výsledný sešit si otevři a zkontroluj. K uložení použij funkci `to_excel`, se kterou pracuj stejně, jako jsme na lekci pracovali s funkci `to_csv`.
* Zkus data z Excelu naopak načíst pomocí funkci `read_excel()` a ověř, že se soubor načetl v pořádku.

## Rozšířené zadání

Modul `openpyxl` lze používat i samostatně. Přehled jeho funkcí najdeš [v dokumentaci](https://openpyxl.readthedocs.io/en/stable/tutorial.html).

Zkus pomocí modulu zapsat rozvrh hodin jako tabulku v Excel sešitu. Níže máš program, který obsahuje rozvrh hodin jako dvourozměrný seznam. Vnitřní seznamy obsahují předměty v rozvrhu, jeden vnitřní seznam vždy obsahuje předměty pro daný den.

Podívej se nejprve na ukázku. Jednoduchý program níže zapíše hodnotu `Test` do buňky B1 a výsledek uloží souboru `rozvrh_hodin.xlsx`. Pokud neznáš terminologii Excelu, pak `Workbook` označuje sešit, tj. celý "soubor". `ws` se odkazuje na `Work Sheet`, což je list, tj. jedna "záložka". Náš soubor bude mít jen jeden list, čímž je situace jednoduchá.

```python
from openpyxl import Workbook

wb = Workbook()
ws1 = wb.active
ws1.title = "rozvrh"
cislo_radku = 1
cislo_sloupce = 2

bunka = ws1.cell(cislo_radku, cislo_sloupce)
bunka.value = "Test"

wb.save(filename="rozvrh_hodin.xlsx")
```

Projdi si nyní následující program a v programu doplň kód na zápis názvu předmětu do buňky.

```python
from openpyxl import Workbook
from openpyxl.styles import PatternFill

wb = Workbook()
ws1 = wb.active
ws1.title = "rozvrh"

rozvrh_hodin = [
  ["Anglický jazyk", "Přírodopis", "Dějepis", "Matematika", "Oběd", "Tělesná výchova", "Tělesná výchova", ],
  ["Občanská výchova", "Hudební výchova", "Matematika", "Oběd", "Výtvarná výchova", "Dějepis", ],
  ["Matematika", "Chemie", "Přírodopis", "Fyzika", "Oběd", "Zeměpis", ],
  ["Fyzika", "Anglický jazyk", "Matematika", "Český jazyk", "Dějepis", "Oběd", ],
  ["Český jazyk", "Zeměpis", "Český jazyk", "Výtvarná výchova", "Oběd", ]
]
radek = 1
for den in rozvrh_hodin:
  sloupec = 1
  for predmet in den:
    # Zde zapiš kód pro uložení předmětu do buňky
    bunka = ws1.cell(radek, sloupec)
    bunka.value = predmet
    sloupec += 1
  radek += 1

wb.save(filename="rozvrh_hodin.xlsx")
```

### Dobrovolný doplněk rozšířeného zadání :-)

Modul `openpyxl` je silný v možnostech formátování, které nabízí. Podívej se na rozšířený příklad níže. Ten kromě zápisu hodnoty nastaví buňce šedivou barvu jako pozadí. 

Přehled barev, které můžeš použít, najdeš [v dokumentaci](https://openpyxl.readthedocs.io/en/stable/styles.html#indexed-colours).

```python
from openpyxl import Workbook
from openpyxl.styles import PatternFill

wb = Workbook()
ws1 = wb.active
ws1.title = "rozvrh"
cislo_radku = 1
cislo_sloupce = 2

bunka = ws1.cell(cislo_radku, cislo_sloupce)
bunka.value = "Test"

# Určím si barvu
sediva_barva = PatternFill("solid", fgColor="00C0C0C0")
# Přiřadím barvu buňce
bunka.fill = sediva_barva

wb.save(filename="rozvrh_hodin.xlsx")
```

Vrať se ke svému programu a zkus vytvořit rozvrh obarvený. Například můžeš zkusit podbarvit oběd šedě a poté třeba nastavit nějakou barvu výchovám, jinou barvu jazykům atd.

In [ ]:
from openpyxl import Workbook
from openpyxl.styles import PatternFill

wb = Workbook()
ws1 = wb.active
ws1.title = "rozvrh"

rozvrh_hodin = [
  ["Anglický jazyk", "Přírodopis", "Dějepis", "Matematika", "Oběd", "Tělesná výchova", "Tělesná výchova", ],
  ["Občanská výchova", "Hudební výchova", "Matematika", "Oběd", "Výtvarná výchova", "Dějepis", ],
  ["Matematika", "Chemie", "Přírodopis", "Fyzika", "Oběd", "Zeměpis", ],
  ["Fyzika", "Anglický jazyk", "Matematika", "Český jazyk", "Dějepis", "Oběd", ],
  ["Český jazyk", "Zeměpis", "Český jazyk", "Výtvarná výchova", "Oběd", ]
]
radek = 1
for den in rozvrh_hodin:
  sloupec = 1
  for predmet in den:
    # Zde zapiš kód pro uložení předmětu do buňky
    bunka = ws1.cell(radek, sloupec)
    bunka.fill = get_fill(predmet)
    bunka.value = predmet
    sloupec += 1
  radek += 1

wb.save(filename="rozvrh_hodin.xlsx")

In [ ]:
def get_fill(subject):
    if 'Oběd' == subject:
        return PatternFill("solid", fgColor="0000FF00")
    if 'výchova' in subject:
        return PatternFill("solid", fgColor="00FFFF00")
    if 'jazyk' in subject:
        return PatternFill("solid", fgColor="0099CCFF")
    return PatternFill("solid", fgColor="00C0C0C0")

In [11]:
from openpyxl import Workbook
from openpyxl.styles import PatternFill

wb = Workbook()
ws1 = wb.active
ws1.title = "rozvrh"

rozvrh_hodin = [
  ["Anglický jazyk", "Přírodopis", "Dějepis", "Matematika", "Oběd", "Tělesná výchova", "Tělesná výchova", ],
  ["Občanská výchova", "Hudební výchova", "Matematika", "Oběd", "Výtvarná výchova", "Dějepis", ],
  ["Matematika", "Chemie", "Přírodopis", "Fyzika", "Oběd", "Zeměpis", ],
  ["Fyzika", "Anglický jazyk", "Matematika", "Český jazyk", "Dějepis", "Oběd", ],
  ["Český jazyk", "Zeměpis", "Český jazyk", "Výtvarná výchova", "Oběd", ]
]
radek = 1
for den in rozvrh_hodin:
  sloupec = 1
  for predmet in den:
    bunka = ws1.cell(radek, sloupec) # Zde můj pokus o doplnění
    bunka.value = predmet # Zde můj pokus o doplnění
    if predmet == "Oběd":
        bunka.fill = sediva_barva = PatternFill("solid", fgColor="00C0C0C0")
    elif "výchova" in predmet:
        bunka.fill = cervena_barva = PatternFill("solid", fgColor="00FF0000")
    elif "jazyk" in predmet:
        bunka.fill = zluta_barva = PatternFill("solid", fgColor="00FFFF00")
    else:
        bunka.fill = modra_barva = PatternFill("solid", fgColor="0099CCFF")
    sloupec += 1
  radek += 1

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-11-980a978b745a>, line 22)